/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 *
 *= require normalize-rails
 *= require leaflet
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.content {
  position: absolute;
  top: 0px;
  right: 12em;
  left: 12em;
  bottom: 0em;
  padding: 2em;
  padding-top: 10em;
  background: #ddd;
  z-index: -1;
}

#clearance {
  margin: 8em;
  padding: 2em;
  width: 400px;
  color: #801111;
  text-shadow: #d65c5c 0 1px 0;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  border-radius: 1em;
}

#map {
  z-index: -2;
}

.banner {
  position: absolute;
  left: 5em;
  right: 5em;
  top: 0em;
  color: #801111;
  text-shadow: #d65c5c 0 1px 0;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  display: block;
  height: 2em;
  line-height: 2em;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
                    0 6px 10px rgba(0,0,0,.15);
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -3.5em;
  bottom: -1em;
  display: block;
  width: 2em;
  height: 0px;
  border: 1em solid #d64b4b;
  border-right: 1em solid #801111;
  border-left: 1.5em solid #d64b4b;
  border-bottom-color: #d64b4b;
  -moz-border-top-colors: #d64b4b #d14747 #cd4444 #c94141 #c43e3e #c03b3b;
  -moz-border-bottom-colors: #ab2c2c #AF2F2F #B33232 #b73535 #bc3838 #c03b3b;
  border-left-color: transparent;
}

.banner::after {
  left: auto;
  right: -3.5em;
  border-left: 1em solid #801111;
  border-right: 1.5em solid transparent;
}

